﻿@model PCDB_Rewrite.Models.CourtesyDetails
@{
    ViewData["Title"] = "CourtesyViewEdit";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - View Courtesy</h1>
        </div>
    </div>
</div>
<br />
<form asp-controller="Submit" asp-action="UpdateCourtesyDetails">
    @Html.HiddenFor(x => x.BHEntity, new { @id = "selectedBhEntity" })
    @Html.HiddenFor(x => x.GivenBy, new { @id = "selectedGivenBy" })
    @Html.HiddenFor(x => x.CourtesyType, new { @id = "selectedCourtesyType" })
    @Html.HiddenFor(x => x.Id, new { name = "id" })
    @Html.HiddenFor(x => x.RecipientId, new { name = "recipientId" })
    <input type="hidden" value="@ViewBag.Year" name="year" />
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Back", "CourtesyList", "Home", new { recipientID = Model.RecipientId }, new { @class = "btn btn-info" })
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Recipient:</label>
                @Html.TextBoxFor(x => x.Recipient, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @name = "recipient" })
            </div>
            <div class="col-md-4">
                <label>Related To:</label>
                @Html.TextBoxFor(x => x.RelatedTo, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @name = "relatedTo" })
            </div>
            <div class="col-md-4">
                <label>Date Given:</label> <span class="redcolor">*</span>
                @Html.TextBoxFor(x => x.DateGiven, new { Class = "form-control", type = "datetime", id = "datetimepicker1", placeholder = "", @name = "dateGiven", required = "required" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>BH Entity:</label> <span class="redcolor">*</span>
                <select name="bhEntity" id="bhentity" class="form-control" required="required">
                    @foreach (var e in @ViewBag.BHEntities)
                    {
                        <option value='@e.Id.Trim()' name="bhEntity">@e.BHEntity</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                @if (@Model.GivenByStatus == "A")
                {
                    <label>Given By:</label>
                    <span class="redcolor">*</span>
                    <select name="givenBy" id="givenby" class="form-control" required="required">
                        @foreach (var g in @ViewBag.GivenBy)
                        {
                            <option value='@g.Id.Trim()' name="f">@g.Name</option>
                        }
                    </select>
                }
                else
                {
                    <label>Given By:</label>
                    <span class="redcolor">(inactive)</span>
                    @Html.TextBoxFor(x => x.InactiveGivenBy, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @name = "relatedTo" })
                }
            </div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Courtesy Type:</label> <span class="redcolor">*</span>
                <select name="courtesyType" id="courtesyType" class="form-control" required="required">
                    @foreach (var t in @ViewBag.CourtesyTypes)
                    {
                        <option value='@t.Id.Trim()' name="courtesyType">@t.CourtesyType</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label>Value:</label> <span class="redcolor">*</span>
                @Html.TextBoxFor(x => x.Value, new { Class = "form-control", placeholder = "", @name = "value", required = "required" })
            </div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Description: (200 characters max)</label>
                <label class="redcolor" id="lblCharCount"></label>
                @Html.TextAreaFor(x => x.Description, new { Class = "form-control", placeholder = "", @rows = 6, @name = "description", onkeyup = "CommentsMaxLength(this, 200)", onkeydown = "CommentsMaxLength(this, 200)", onchange = "CommentsMaxLength(this, 200)" })
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label style="color: red">* Required Fields</label>
                <br />
                <input type="submit" value="Save" class="btn btn-success btnStyle" />
                <br /><br />
                @Html.ActionLink("Cancel", "CourtesyList", "Home", new { recipientID = Model.RecipientId }, new { @class = "btn btn-warning btnStyle" })

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/courtesyViewEdit.js" asp-append-version="true"></script>
    <script src="~/js/commentsMaxLengthCheck.js" asp-append-version="true"></script>
}
