﻿@model PCDB_Rewrite.Models.CourtesyList
@{
    ViewData["Title"] = "CourtesyList";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Recipient's Activity List</h1>
            @Html.HiddenFor(x => x.RecipientID, new { @id = "recipientId" })
        </div>
    </div>
</div>
<br />

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Back", "Index", "Home", new { recipientID = Model.RecipientID }, new {@class = "btn btn-info"})
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Recipient Name:</label>
            @Html.TextBoxFor(x => x.Name, new { Class = "form-control", placeholder = "", @readonly = "@readonly" })
        </div>
        <div class="col-md-4">
            <label>Related To:</label>
            @Html.TextBoxFor(x => x.RelatedTo, new { Class = "form-control", placeholder = "", @readonly = "@readonly" })
            <br /><br />
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Beaches Totals:</label>
            @Html.TextBoxFor(x => x.Beaches, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @id = "beachesTotal" })
        </div>
        <div class="col-md-3">
            <label>Downtown/WCH/South Totals:</label>
            @Html.TextBoxFor(x => x.Downtown, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @id = "downtownTotal" })
        </div>
        <div class="col-md-3">
            <label>Nassau Totals:</label>
            @Html.TextBoxFor(x => x.Nassau, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @id = "nassauTotal" })
        </div>
        <div class="col-md-3">
            <label>PHS Totals:</label>
            @Html.TextBoxFor(x => x.PHS, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @id = "phsTotal" })
        </div>
    </div>
</div>
<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            
            @Html.ActionLink("ADD NEW COURTESY", "CourtesyAdd", "Home", new {recipientId = Model.RecipientID}, new {@class = "btn btn-info", @id = "addCourtesy"})
        </div>
        <div class="col-md-6 text-center">
            <h2>Courtesies</h2>
        </div>
        <div class="col-md-3"></div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Year:</label>
            <select name="years" id="year" class="form-control">
                @foreach (var yr in @ViewBag.Years)
                {
                    <option value="@yr.Year.Trim()" name="titleType">@yr.Year.Trim()</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <table id="courtesyListTable" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>BH Entity</th>
                        <th>Given By</th>
                        <th>Courtesy Type</th>
                        <th>Value</th>
                        <th>Description</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/courtesyList.js" asp-append-version="true"></script>
}
