﻿@model PCDB_Rewrite.Models.CourtesyAdd
@{
    ViewData["Title"] = "CourtesyAdd";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Add a Courtesy</h1>
        </div>
    </div>
</div>

<br />

<form asp-controller="Submit" asp-action="AddNewCourtesy">
    @Html.HiddenFor(x => x.Id, new { @name = "id" })
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Back", "CourtesyList", "Home", new { recipientID = Model.Id}, new {@class = "btn btn-info"})
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Recipient:</label>
                @Html.TextBoxFor(x => x.Recipient, new {Class = "form-control", placeholder = "", @readonly = "@readonly", @name = "recipient"})
            </div>
            <div class="col-md-4">
                <label>Related To:</label>
                @Html.TextBoxFor(x => x.RelatedTo, new {Class = "form-control", placeholder = "", @readonly = "@readonly", @name = "relatedTo"})
            </div>
            <div class="col-md-4">
                <label>Date Given:</label> <span class="redcolor">*</span>
                <input type="datetime" value="" class="form-control" id="datetimepicker1" name="dateGiven" required="required"/>
                <br />
                <span>If no date is selected before submitting, the date will default to the current date & time.</span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <label>BH Entity:</label> <span class="redcolor">*</span>
                <select name="bhEntity" id="bhentity" class="form-control" required="required">
                    <option value='0' selected disabled>Select BH Entity</option>
                    @foreach (var e in @ViewBag.BHEntities)
                    {
                        <option value='@e.Id.Trim()' name="bhEntity">@e.BHEntity</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label>Given By:</label> <span class="redcolor">*</span>
                <select name="givenBy" id="givenby" class="form-control" required="required">
                    <option value='0' selected disabled>Select Given By</option>
                    @foreach (var g in @ViewBag.GivenBy)
                    {
                        <option value='@g.Id.Trim()' name="f">@g.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label>Courtesy Type:</label> <span class="redcolor">*</span>
                <select name="courtesyType" id="courtesyType" class="form-control" required="required">
                    <option value='0' selected disabled>Select Courtesy Type</option>
                    @foreach (var t in @ViewBag.CourtesyTypes)
                    {
                        <option value='@t.Id.Trim()' name="courtesyType">@t.CourtesyType</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label>Value:</label> <span class="redcolor">*</span>
                <input type="text" placeholder="0.00" class="form-control" id="value" name="value" required="required" onkeypress="return isNumberKey(this, event);"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Description (200 characters max):</label>
                <label class="redcolor" id="lblCharCount"></label>
                <textarea name="description" class="form-control" cols="40" rows="6" required="required" onkeyup="CommentsMaxLength(this, 200)" onkeydown="CommentsMaxLength(this, 200)" onchange="CommentsMaxLength(this, 200)"></textarea>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label style="color: red">* Required Fields</label>
                <br />
                <input type="submit" value="Save" class="btn btn-success btnStyle" />

                <br /><br />
                @Html.ActionLink("Cancel", "CourtesyList", "Home", new { recipientID = Model.Id }, new { @class = "btn btn-warning btnStyle" })

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/courtesyAdd.js" asp-append-version="true"></script>
    <script src="~/js/commentsMaxLengthCheck.js" asp-append-version="true"></script>
}

