﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Recipient Search</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 text-center">
            <input type="text" id="searchbox" class="form-control" placeholder="Search by Recipient Name" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @foreach (var letter in ViewBag.Letters)
            {
                <a href="#@letter" style="padding-right: 2%; font-size: 1.25em;" onclick="GenerateResults('@letter')">@letter</a>
            }
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <table id="pcdbTable" class="display" style="width: 100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Beaches Total</th>
                    <th>Downtown/WCH/South Totals</th>
                    <th>Nassau</th>
                    <th>PHS</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@*<div class="container">
    <div id="loadingModal" class="modal">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <div class="modal-content">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div id="loader"></div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>We are loading the Providers based on your request.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>*@


@section scripts {
    <script src="~/js/recipientSearch.js" asp-append-version="true"></script>
}