﻿
@{
    ViewData["Title"] = "Not Authorized";
}

<div class="notauthorized">
    <img src="~/img/cancel.png" />
    <span>You are not authorized to see this page.</span>
    <div>Please contact an admin if you think this is in error or to get the necessary rights.</div>
</div>
