﻿@model PCDB_Rewrite.Models.RecipientView

@{
    ViewData["Title"] = "RecipientView";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - View Recipient</h1>
        </div>
    </div>
</div>

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Back", "Index", "Home", new { recipientID = Model.RecipientID }, new {@class = "btn btn-info"})
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <label>Recipient ID #:</label>
            @Html.TextBoxFor(x => x.RecipientID, new {Class = "form-control", placeholder = "", @readonly = "@readonly"})
            <br/><br/>

            <label>Name:</label>
            @Html.TextBoxFor(x => x.Name, new {Class = "form-control", placeholder = "", @readonly = "@readonly"})
            <br/><br/>

            <label>Comments: (200 characters max)</label>
            @Html.TextAreaFor(x => x.Comments, new {Class = "form-control", placeholder = "", @readonly = "@readonly", rows = 6})

            <br/><br/>
            <label class="redcolor">* Medstaff Physician records are view only</label>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

