﻿@model PCDB_Rewrite.Models.RecipientViewFamily


@{
    ViewData["Title"] = "RecipientFamilyViewEdit";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - View Family Recipient</h1>
        </div>
    </div>
</div>
<br />
<form asp-controller="Submit" asp-action="UpdateFamilyRecipient">
    @Html.HiddenFor(x => x.Title, new { @id = "selectedTitle" })
    @Html.HiddenFor(x => x.Suffix, new { @id = "selectedSuffix" })
    @Html.HiddenFor(x =>x.Relationship, new {@id = "relationshipType"})
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label>Recipient ID #:</label>
                @Html.TextBoxFor(x => x.RecipientID, new { Class = "form-control", placeholder = "", @readonly = "@readonly", @name = "recipientID" })
            </div>
            <div class="col-md-3">
                <label>Title:</label> <span class="redcolor">*</span>
                <select name="titleType" id="title" class="form-control" required="required">
                    @foreach (var title in @ViewBag.Titles)
                    {
                        <option value="@title.Title.Trim()" name="titleType">@title.Title.Trim()</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>First Name:</label> <span class="redcolor">*</span>
                @Html.TextBoxFor(x => x.FirstName, new { Class = "form-control", placeholder = "", required = "required", @name = "firstName" })
            </div>
            <div class="col-md-3">
                <label>Middle Initial:</label>
                @Html.TextBoxFor(x => x.MiddleInitial, new { Class = "form-control", placeholder = "", @name = "middleInitial" })
            </div>
            <div class="col-md-3">
                <label>Last Name:</label> <span class="redcolor">*</span>
                @Html.TextBoxFor(x => x.LastName, new { Class = "form-control", placeholder = "", required = "required", @name = "lastName" })
            </div>
            <div class="col-md-3">
                <label>Suffix:</label>
                <select name="suffixType" id="suffix" class="form-control">
                    @foreach (var suffix in @ViewBag.Suffixes)
                    {
                        <option value="@suffix.Suffix.Trim()" name="suffixType">@suffix.Suffix.Trim()</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Related To:</label>
                @Html.TextBoxFor(x => x.RelatedTo, new { Class = "form-control", placeholder = "", @readonly = "@readonly" })
            </div>
            <div class="col-md-3">
                <label>Relationship:</label> <span class="redcolor">*</span>
                <select name="relationshipType" id="relationship" class="form-control">
                    @foreach (var relationship in @ViewBag.Relationships)
                    {
                        <option value="@relationship.Relationship.Trim()" name="relationshipType">@relationship.Relationship.Trim()</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Comments: (200 characters max)</label>
                <label class="redcolor" id="lblCharCount"></label>
                @Html.TextAreaFor(x => x.Comments, new { Class = "form-control", placeholder = "", @rows = 6, @name = "comments", onkeyup = "CommentsMaxLength(this, 200)", onkeydown = "CommentsMaxLength(this, 200)", onchange = "CommentsMaxLength(this, 200)" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label style="color: red">* Required Fields</label>
                <br />
                <input type="submit" value="Save" class="btn btn-success btnStyle"/>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/recipientFamilyViewEdit.js" asp-append-version="true"></script>
    <script src="~/js/commentsMaxLengthCheck.js" asp-append-version="true"></script>
}
