﻿
@{
    ViewData["Title"] = "RecipientNSPAdd";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Add Non-Physician Recipient</h1>
        </div>
    </div>
</div>


<form asp-controller="Submit" asp-action="AddNewNonPhysician">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label>Title:</label> <span class="redcolor">*</span>
                <select name="titleType" id="title" class="form-control" required="required">
                    <option value='0' selected disabled>Select Title</option>
                    @foreach (var title in @ViewBag.Titles)
                    {
                        <option value="@title.Title.Trim()" name="titleType">@title.Title.Trim()</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>First Name:</label> <span class="redcolor">*</span>
                <input type="text" value="" name="firstName" class="form-control" required="required" />
            </div>
            <div class="col-md-3">
                <label>Middle Initial:</label>
                <input type="text" value="" name="middleInitial" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>Last Name:</label> <span class="redcolor">*</span>
                <input type="text" value="" name="lastName" class="form-control" required="required" />
            </div>
            <div class="col-md-3">
                <label>Suffix:</label>
                <select name="suffixType" id="suffix" class="form-control">
                    <option value='0' selected disabled>Select Suffix</option>
                    @foreach (var suffix in @ViewBag.Suffixes)
                    {
                        <option value="@suffix.Suffix.Trim()" name="suffixType">@suffix.Suffix.Trim()</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Comments (200 characters max):</label>
                <label class="redcolor" id="lblCharCount"></label>
                <textarea name="description" class="form-control" cols="40" rows="6" required="required" onkeyup="CommentsMaxLength(this, 200)" onkeydown="CommentsMaxLength(this, 200)" onchange="CommentsMaxLength(this, 200)"></textarea>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label style="color: red">* Required Fields</label>
                <br />
                <input type="submit" value="Save" class="btn btn-success btnStyle" />
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/commentsMaxLengthCheck.js" asp-append-version="true"></script>
}