﻿
@{
    ViewData["Title"] = "RecipientFamilyAdd";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Add Family Recipient</h1>
        </div>
    </div>
</div>

<form asp-controller="" asp-action="">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label>Title:</label> <span class="redcolor">*</span>
                <select name="titleType" id="title" class="form-control" required="required">
                    <option value='0' selected disabled>Select Title</option>
                    @foreach (var title in @ViewBag.Titles)
                    {
                        <option value="@title.Title.Trim()" name="titleType">@title.Title.Trim()</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>First Name:</label> <span class="redcolor">*</span>
                <input type="text" value="" name="firstName" class="form-control" required="required" />
            </div>
            <div class="col-md-3">
                <label>Middle Initial:</label>
                <input type="text" value="" name="middleInitial" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>Last Name:</label> <span class="redcolor">*</span>
                <input type="text" value="" name="lastName" class="form-control" required="required" />
            </div>
            <div class="col-md-3">
                <label>Suffix:</label>
                <select name="suffixType" id="suffix" class="form-control">
                    <option value='0' selected disabled>Select Suffix</option>
                    @foreach (var suffix in @ViewBag.Suffixes)
                    {
                        <option value="@suffix.Suffix.Trim()" name="suffixType">@suffix.Suffix.Trim()</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Related To:</label> <span class="redcolor">*</span>
                <input type="text" value="" id="relatedTo" name="relatedTo" class="form-control" required="required" disabled="disabled"/>
                <input type="hidden" id="relatedToID" name="relatedToID" />
                <br />
                <input type="button" value="Browse" class="btn btn-info" onclick="DisplayRecipientSearch()" />
            </div>
            <div class="col-md-4">
                <label>Relationship:</label> <span class="redcolor">*</span>
                <select name="relationshipType" id="relationshipType" class="form-control" required="required">
                    <option value='0' selected disabled>Select Title</option>
                    @foreach (var relationship in @ViewBag.Relationships)
                    {
                        <option value="@relationship.Id" name="relationshipType">@relationship.Relationship.Trim()</option>
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Comments (200 characters max):</label>
                <label class="redcolor" id="lblCharCount"></label>
                <textarea name="description" class="form-control" cols="40" rows="6" required="required" onkeyup="CommentsMaxLength(this, 200)" onkeydown="CommentsMaxLength(this, 200)" onchange="CommentsMaxLength(this, 200)"></textarea>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label style="color: red">* Required Fields</label>
                <br />
                <input type="submit" value="Save" class="btn btn-success btnStyle" />
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>

<div class="container">
    <div id="relatedToModal" class="modal" role="dialog">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="CloseModal();">&times;</button>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <input type="text" id="searchbox" class="form-control" placeholder="Search"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            @foreach (var letter in ViewBag.Letters)
                            {
                                <a href="#@letter" style="padding-right: 2%; font-size: 1.25em;" onclick="GenerateResults('@letter')">@letter</a>
                            }
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <table id="recipientSearchTable" class="display" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

@*<div class="container">
    <div id="loadingModal" class="modal">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <div class="modal-content">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div id="loader"></div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                 
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>*@

@section scripts {
    <script src="~/js/recipientFamilyAdd.js" asp-append-version="true"></script>
    <script src="~/js/commentsMaxLengthCheck.js" asp-append-version="true"></script>
}