﻿
@{
    ViewData["Title"] = "CourtesyTypes";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Courtesy Types</h1>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center">
            <table id="courtesyTypeTable" class="display" style="width: 100%">
                <thead>
                <tr>
                    <th>Courtesy Type</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center">
            <h4>Add New Courtesy Type</h4>
            <form asp-controller="Submit" asp-action="AddNewCourtesyType">
                <label>Courtesy Type</label> <span class="redcolor">*</span>
                <input type="text" placeholder="" class="form-control" id="courtesyType" name="courtesyType" required="required"/>
                <br/>
                <label style="color: red">* Required Fields</label>
                <br/>
                <input type="submit" value="Save" class="btn btn-success btnStyle"/>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section scripts {
    <script src="~/js/adminCourtesyTypes.js" asp-append-version="true"></script>
}



