﻿
@{
    ViewData["Title"] = "Hospitals";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Add To Hospital List</h1>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center">
            <table id="hospitalsTable" class="display" style="width: 100%">
                <thead>
                <tr>
                    <th>Hospital</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center">
            <h4>Add New Hospital</h4>
            <form asp-controller="Submit" asp-action="AddNewHospital">
                <label>Hospital Name</label> <span class="redcolor">*</span>
                <input type="text" placeholder="" class="form-control" id="hospitalName" name="hospitalName" required="required"/>
                <br/>
                <label style="color: red">* Required Fields</label>
                <br/>
                <input type="submit" value="Save" class="btn btn-success btnStyle"/>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section scripts {
    <script src="~/js/adminHospitals.js" asp-append-version="true"></script>
}

