﻿
@{
    ViewData["Title"] = "Admin Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Admin View</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            @Html.ActionLink("Add to Hospital List", "Hospitals", "Admin", null, new { @class = "btn btn-primary" })
            <br /><br />
            @Html.ActionLink("Add to Courtesy Types List", "CourtesyTypes", "Admin", null, new { @class = "btn btn-primary" })
            <br /><br />
            @Html.ActionLink("View SMT's", "SMTs", "Admin", null, new { @class = "btn btn-primary" })
            <br /><br />
            @Html.ActionLink("View Relationship Types", "RelationshipTypes", "Admin", null, new { @class = "btn btn-primary" })
        <br />
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
