﻿@{
    ViewData["Title"] = "Realtionship Types";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Relationship Types</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table id="relationshipTypeTable" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Relationship Type</th>
                        <th>Display Type</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h4>Add New Relationship Type</h4>
            <form asp-controller="Submit" asp-action="AddNewRelationshipType">
                <label>Relationship Type</label> <span class="redcolor">*</span>
                <input type="text" placeholder="" class="form-control" id="relationshipType" name="relationshipType" required="required"/>
                <br/>
                <label style="color: red">* Required Fields</label>
                <br/>
                <input type="submit" value="Save" class="btn btn-success btnStyle"/>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/adminRelationshipTypes.js" asp-append-version="true"></script>
}