﻿
@{
    ViewData["Title"] = "SMTs";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Physicians' Courtesy Database - Senior Management Team</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table id="smtTable" class="display" style="width: 100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h4>Add New SMT</h4>
            <form asp-controller="Submit" asp-action="AddNewSMT">
                <label>First Name</label> <span class="redcolor">*</span>
                <input type="text" placeholder="" class="form-control" id="firstName" name="firstName" required="required"/>
                <br/>
                <label>Middle Initial</label>
                <input type="text" placeholder="" class="form-control" id="middleInitial" name="middleInitial"/>
                <br/>
                <label>Last Name</label> <span class="redcolor">*</span>
                <input type="text" placeholder="" class="form-control" id="lastName" name="lastName" required="required"/>
                <br/>
                <label style="color: red">* Required Fields</label>
                <br/>
                <input type="submit" value="Save" class="btn btn-success btnStyle"/>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/adminSMT.js" asp-append-version="true"></script>
}
