﻿@*@model ErrorViewModel*@
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h4>@ViewBag.Error</h4>

